.pdf-view {
	display: flex;
	justify-content: center;
	padding: 30px 0 50px;
	overflow: hidden;
	box-sizing: border-box;
	height: 100vh;
	position: relative;
	.container {
			box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
			width: max-content;
			margin: 0 auto;
			overflow: scroll;
			box-sizing: border-box;
		}
	
		.page-tool {
			position: absolute;
			bottom: 35px;
			padding-left: 15px;
			padding-right: 15px;
			display: flex;
			align-items: center;
			background: rgb(66, 66, 66);
			color: white;
			border-radius: 19px;
		}
	
		.page-tool-item {
			padding: 8px 15px;
			padding-left: 10px;
			cursor: pointer;
		}
	
		input {
			display: inline-block;
			width: 50px;
			text-align: center;
			margin-right: 10px;
			height: 24px;
			color: #000;
		}
	
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	
		input[type="number"] {
			-moz-appearance: textfield;
		}
}

